<template>
  <div id="app">
    <h1>Auerzäit op Lëtzebuergesch</h1>
    <div class="row">
      <vue-timepicker
        v-model="time"
        @change="hidden = true"
        auto-scroll
        close-on-complete
        hide-clear-button
      />
    </div>
    <div class="row">
      <clock
        :time="time"
        :size="clock_size"
        border="10px solid"
        bg="#dedede"
      />
    </div>
    <div class="row">
      <button v-if="hidden" v-on:click="hidden = false">Opdecken</button>
      <div v-else class="letz-time">Et ass {{ letz_time }}</div>
    </div>
  </div>
</template>

<script>
import Clock from "vue-clock2";
import VueTimepicker from "vue2-timepicker";

import time_in_lux from "@/letztime.mjs";

import "vue2-timepicker/dist/VueTimepicker.css";

export default {
  name: "App",

  components: {
    Clock,
    VueTimepicker,
  },

  data() {
    return {
      time: "13:15",
      hidden: true,
    };
  },

  computed: {
    clock_size: function () {
      return this.$mq === "sm" ? "250px" : "400px";
    },
    letz_time: function () {
      return time_in_lux(this.time);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.row {
  margin-bottom: 1.5em;
}
.clock-hour {
  width: 9px !important;
  background-color: #2c3e50 !important;
}
.clock-minute {
  width: 5px !important;
  background-color: #2c3e50 !important;
}
.clock-second {
  display: none !important;
}
.letz-time {
  font-size: 2em;
}
button {
  width: 10em;
  border: 1px solid #2c3e50;
  background-color: #dedede;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
}
.vue__time-picker .dropdown ul li:not([disabled]).active,
.vue__time-picker .dropdown ul li:not([disabled]).active:focus,
.vue__time-picker .dropdown ul li:not([disabled]).active:hover {
  background-color: #798b9d;
}
.vue__time-picker input.display-time {
  text-align: center;
}
</style>
